@font-face {
  font-family: 'rubber';
  src: url(Assets/RubberNippleFactoryBlack.ttf);
  font-style: normal;
  font-weight: 100;
}


/* GLOBAL */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
button {
  background: none;
  border: none;
  outline: none;
  font-family: 'rubber';
  letter-spacing: 0.01em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
input {
  width: 60%;
  height: 1.5vw;
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
}

/* TYPOGRAPHY */

h1 {
  font-family: 'rubber';
  font-size: 6.2vw;
  letter-spacing: 0.01em;
}
.contentContainer h1 {
  padding-top: 30px;
  margin-bottom: 0; 
}
h2 {
  font-family: 'rubber';
  font-size: 3.5vw;
  letter-spacing: 0.01em;
  text-align: center;
  }
.contentContainer h2 {
  margin-bottom: 2.5%;
  text-decoration: underline black;
}
.sliceContent h2{
margin: 0;
font-size: 4vw;
text-align: left;
color: cornsilk;
}
h3 {
  font-family: 'rubber';
  font-size: 2vw;
  letter-spacing: 0.01em;
  text-align: center;
  }
.contentContainer h3 {
  margin-top: -1.5vw;
  font-size: 1.25vw;
  }
p {
  font-family: 'Abel', sans-serif;
  font-size: 1.9vw;
  text-align: center;
}
.contentContainer p {
  margin-top: 0;
  margin-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}
label {
  font-family: 'rubber';
  font-size: 2vw;
}
.categoryHead {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 5vw;
}

/* LAYOUTS */
.mainContainer {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* background-image: url(./Images/1None.png);
  background-repeat: no-repeat;
  background-size: cover; */
  /* padding-left: 5vw; */
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100vh;
  background-color:whitesmoke;
}




  /* CSS BACKGROUND */
/* #backgroundContainer {
  height: 100vh;
  height: 100vh;
  background-color: cornsilk;
  font-family: 'rubber';
  font-size: 30px;
} */

.categoryFilms {
  color: #D66C2A;
}
.categoryAnimals {
  color: #C33038;
}
.categoryScience {
  color: #73A7E3;
}
.categoryHistory {
  color: #702C68;
}


.slice1 {
  height: 8vw;
  width: 100%;
  transform: skewY(-20deg);
  background-color: #D66C2A;
}

.slice2 {
  height: 8vw;
  width: 100%;
  transform: skewY(-20deg);
  background-color: #C33038;
}
.slice3 {
  height: 8vw;
  width: 100%;
  transform: skewY(-20deg);
  background-color:#73A7E3;
}
.slice4 {
  height: 8vw;
  width: 100%;
  transform: skewY(-20deg);
  background-color:  #702C68;
}
.sliceContent{
  max-width: 50em;
  height: 100%;
  padding-top: 2%;
  margin-left: 40%;
  transform:skew(18deg);
  }


.shadow {
  -webkit-box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
  -moz-box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
  box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
}

.mapContainer {
height: 75%;
}
.questionContainer {
  display: flex;
  flex-direction: row;
 }
.buttonContainer {
  margin: 0 auto;
  margin-top: -6%;
  width: 80%;
  height: 80%;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  height:5%;
  width: 100%;
  padding-top: 2vw;
  justify-content: center;
}

/* COMPONENTS */
.contentContainer button {
  font-size: 3.5vw;
  width: 100%;
  margin-bottom: 2%;
 }
.questionAnswers button {
  font-size: 1vw;
  text-align: left;
  width: 100%;
  height: 30%;
  margin-bottom: 0;
}
.question {
  height: 10%;
}
.questionNumber {
  font-family: 'rubber';
  font-size: 1vw;
  width: 7%;
  padding-top: 2%;
  padding-left: 2%;
  text-align: center;
  }
.questionBody{
  width: 85%;
  height: 3vw;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 1.1vw;
}
.questionAnswers {
  width: 20%;
  height: 2vw;
  padding-top: 1%;
  }
.twoOptions {
  padding-top: 0.8vw;
}  
.footerNav {
  font-family: 'rubber';
  font-size: 2vw;
  letter-spacing: 0.01em;
  text-align: center;
  margin-right: 2vw;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.resultIndicator {
  padding-top: 0.8vw;
  padding-left: 4%;
  height: 2vw;
  font-family: 'rubber';
  font-size: 1vw;
 }
.reportSection {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reportBark {
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'rubber';
  font-size: 3vw;
  line-height: 110%;
  text-decoration: none;
  text-align: center;
}
.reportScore {
  font-family: 'rubber';
  font-size: 3vw;
  text-decoration: none;
  text-align: center;
}
.nameEntry {
  margin-top: 8vw;
  padding-top: 2%;
  height: 25%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}