@font-face {
  font-family: 'rubber';
  src: url(Assets/RubberNippleFactoryBlack.ttf);
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'rubber';
  font-size: 6.2vw;
  letter-spacing: 0.01em;
}

h2 {
  font-family: 'rubber';
  font-size: 3.5vw;
  letter-spacing: 0.01em;
  text-align: center;
  }

  h3 {
    font-family: 'rubber';
    font-size: 2vw;
    letter-spacing: 0.01em;
    text-align: center;
    }
  


  p {
    font-family: 'Abel', sans-serif;
    font-size: 1.9vw;
    text-align: center;
  }

  button {
    background: none;
    border: none;
    outline: none;
    font-family: 'rubber';
    letter-spacing: 0.01em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .shadow {
    -webkit-box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
    -moz-box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
    box-shadow: .5vw 0vw 1vw rgba(0, 0, 0, 0.392);
  }

.mainContainer {
  background-image: url(./Images/1None.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-left: 5vw;
  margin: 0 auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100vh;
  background-color:whitesmoke;
}

.contentContainer h1 {
  padding-top: 30px;
  margin-bottom: 0; 
}

.contentContainer h2 {
  margin-bottom: 2.5%;
  text-decoration: underline black;
}

.contentContainer h3 {
  margin-top: -1.5vw;
  font-size: 1.25vw;
 }

.categoryHead {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 5vw;
}

.contentContainer p {
  margin-top: 0;
  margin-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}

.mapContainer {
height: 75%;
}

.contentContainer button {
  font-size: 3.5vw;
  width: 100%;
  margin-bottom: 2%;
 }

.buttonContainer {
  margin: 0 auto;
  margin-top: -6%;
  width: 80%;
  height: 80%;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  height:5%;
  width: 100%;
  padding-top: 2vw;
  justify-content: center;
}

.footerNav {
  font-family: 'rubber';
  font-size: 2vw;
  letter-spacing: 0.01em;
  text-align: center;
  margin-right: 2vw;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* CATEGORY COLOURS */
.categoryFilms {
  color: #D66C2A;
}

.categoryAnimals {
  color: #C33038;
}

.categoryScience {
  color: #73A7E3;
}

.categoryHistory {
  color: #702C68;
}

.question {
  height: 10%;
}

.questionContainer {
  display: flex;
  flex-direction: row;
 }

.questionNumber {
  font-family: 'rubber';
  font-size: 1vw;
  width: 7%;
  padding-top: 2%;
  padding-left: 2%;
  text-align: center;
 }

.questionBody{
  width: 85%;
  height: 3vw;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 1.1vw;
}

.questionAnswers {
  width: 20%;
  height: 2vw;
  padding-top: 1%;
  }

.twoOptions {
  padding-top: 0.8vw;
}  

.questionAnswers button {
  font-size: 1vw;
  text-align: left;
  width: 100%;
  height: 30%;
  margin-bottom: 0;
  }

.resultIndicator {
  padding-top: 0.8vw;
  padding-left: 4%;
  height: 2vw;
  font-family: 'rubber';
  font-size: 1vw;
 }

.reportSection {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportBark {
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'rubber';
  font-size: 3vw;
  line-height: 110%;
  text-decoration: none;
  text-align: center;
}

.reportScore {
  font-family: 'rubber';
  font-size: 3vw;
  text-decoration: none;
  text-align: center;
}

.nameEntry {
  margin-top: 8vw;
  padding-top: 2%;
  height: 25%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: 'rubber';
  font-size: 2vw;
}

input {
  width: 60%;
  height: 1.5vw;
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
}